<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Mi Tienda</h1>
      <div class="small">Backend-I • Node + MongoDB</div>
    </div>
    {{{body}}}
    <div class="footer">Entrega final - Backend I</div>
  </div>
</body>
</html>